:root{
--primary-font:'Roboto' ,  sans-serif;
--secondary-font: 'Raleway', sans-serif;

}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
   margin-top: 0; 
   margin-bottom: 0;
   padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer ;
    

}
.list {
    list-style: none;
}
.link {
    text-decoration:none ;
}
body{
    font-family: 'Roboto' ,  sans-serif;
    color:  #434455 ;
    
 
    
}
.container{
    width: 1158px;
    margin-left: auto ;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.main-page{
background: #FFFFFF;
width: 1440px;
height: 2592px;
}
/*--Header--*/
.page-header{
background-color:#FFFFFF;
   display: flex; 
   padding-top: 24px;
   padding-bottom: 24px;
   border-bottom: 1px solid #e7e9fc;
   width: 1158px;
}
.page-header-container{
  display: flex;  
  align-items: center;
  justify-content:space-between ;
 
  border-bottom: 1px solid #e7e9fc;
}
.logo{  
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
     letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;  
    margin-right: 76px;
    display: inline-block;
}
.logo-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
   
 
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #2E2F42; 
}

.logo-theme-dark{
    color: #F4F4FD;
}
.logo-theme-light{
    color: #2E2F42;
}
.menu-nav{
    display: flex; 
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px ;
}
.menu-nav:hover{
color: #404bbf;  
  
}
.menu-nav:focus{
    color: #404bbf; 
}
.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}  
.menu-item{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu-item:not(:last-child){
margin-right: 40px;
}
.menu-item:hover{
    color: #404bbf;
}
.menu-item:focus{
    color: #404bbf;   
}


.menu-link{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration:none ;
   
}
.menu-link:hover{
    color: #404bbf;
}
.menu-link:focus{
    color: #404bbf;   
}
.page-contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    list-style: none;
    
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-list{
    list-style: none;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
}
.contact {
    color: #434455;
   
}

.contact-item{
    color: #434455;   
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
.mail{
    margin-left: auto;
    margin-right: 40px;
   
}
.contact:hover{
    color: #404bbf;
}
.contact:focus{
    color: #404bbf ;
}

/*--Hero--*/
.hero{
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 188px;
    padding-bottom: 188px;
  
}
.hero-container{

 align-items: center;
}
.hero-text{
    
color: #FFFFFF;
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;

letter-spacing: 0.02em;
max-width: 496px;

}
.btn{
font-family: 'Roboto', sans-serif;
font-weight: 500;
position: absolute;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em ;
color: #ffffff;
padding-top: 16px;
padding-bottom:16px;
padding-right:32px;
padding-left: 32px;
border-radius: 4px;
background-color: #4D5AE5;
cursor: pointer ;
min-width: 169px ;
height: 56px ;
border: none;
}
.btn-item{

    
}
.btn:hover{
    background-color: #404BBF; 
}
.btn:focus{
    background-color: #404BBF;
}




/*--About--*/
.about {

}
.section-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height:1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
  padding-bottom: 72px;
    color: #2E2F42;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.about-title {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.about-list{
    display: flex;
    gap: 24px;
}
.about-item {
max-width: 264px;
width: calc((100-72px)/4) ;
}
.about-text{
    font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: #434455;

}
/*--Results--*/
.results{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.results-list{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    flex-basis: calc((100% - 3 * 24px)/4);
}
.results-item{
    gap: 24px; 
}
.result-item:not(:nth-child(3n)){
    margin-right: 24px;
}
/*--Team--*/
.team-container{
 background-color: #F4F4FD ;
 width: 1440px;
 padding-top: 120px;
 padding-bottom: 120px;

}
.team-list{
background-color:#F4F4FD;
display: flex;
flex-wrap: wrap;
border-radius: 0px 0px 4px 4px;
gap: 24px;
}


.team-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team-text{
    padding-top: 32px;
    padding-bottom: 32px; 
    padding-left: 16px; 
    padding-right: 16px;
}
.team-name {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height:1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;

}
.team-place {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* Footer */
.footer {
    background: #2E2F42;
    width: 1440px;
    height: 312px;
    padding-top: 100px; 
    padding-bottom: 100px;
}
.footer-text {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;


}
.footer-item{
  width:264px ;
  min-height: 112px;
  padding-left:156px ;
  padding-top: 100px;


}
.logo-text-footer{
    color: #f4f4fd;
}
.logo-footer{
    margin-bottom: 16px;
    
}
/*--Portfolio--*/
.portfolio-page{
width: 1440px;
height: 2076px;
}

/*--Filters--*/
.portfolio{
    padding-top: 96px; 
    padding-bottom: 120px;
}
.portfolio-main{

}
.filter{
width: 586px;
height: 48px;
margin-bottom: 72px;
}
.filter-list{
  margin-bottom: 72px;
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-item{
justify-content: center;
}
.filter-item:not(:last-child){
    margin-right: 24px;
}
.button-filter{
font-family: "Roboto", sans-serif;
font-weight: 500; 
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5 ;
background-color:#F4F4FD ;
cursor: pointer ;
padding-top: 12px;
padding-bottom: 12px; 
padding-left: 24px; 
padding-right: 24px;
border: 1px ;
stroke:solid , #e7e9fc ; 
border-radius: 4px;
}
.button-filter:hover{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}
.bbutton-filter:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}
/*-Row-*/
.row{
padding-bottom: 48px;  

}
.row-list{
 list-style: none;
 text-decoration: none;
 display: flex; 
 flex-wrap: wrap;
 row-gap: 48px;
 

 
}
.row-item{
    text-decoration: none ;
   
}
.row-app{
    padding: 32px 16px ; 
    border: 1px solid #e7e9fc;
    border-top: none;
}
.row-item:not(:nth-child(3n)){
    margin-right: 24px;
}
.row-item:not(:nth-last-child(-n+3)){
    margin-bottom: 24px;
}
.row-title{
color: #2E2F42;
font-family: 'Roboto';
font-style: Medium;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.row-place{
color: #434455;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em ;
}

